.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal__opened {
  display: none;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  width: 358px;
  height: 258px;
}

.modal__close {
  position: absolute;
  background-image: url('../images/close.svg');
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s ease;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0 0 54px;
  color: black;
}

.modal__form {
  border: #000;
}

.modal__input {
  width: 358px;
  padding: 0;
  border-style: none;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  outline: none
}

.modal__input:last-of-type {
  margin-top: 29.74px;
}

.modal__button {
  font-family: "Inter", Arial, sans-serif;
  width: 358px;
  height: 50.15px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 48px;
  transition: opacity 0.2s ease;
}

.modal__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .modal__form {
    width: 238px;
    align-items: center;
  }

  .modal__heading {
    font-size: 18px;
    width: 238px;
    height: 22px;
    margin-bottom: 75px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 20px);
    left: calc(100% - 28px);
  }

  .modal__container {
    max-width: 238px;
    top: 123px;
    padding: 25px 22px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal__input {
    font-size: 14px;
    max-width: 238px;
  }

  .modal__input:last-of-type {
    margin-top: 30px;
  }

  .modal__button {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: 45px;
  }
}